*{
    margin: 0;
    padding: 0;
}
/* for disktop */
body{
    background-color: azure;
}
#logo{
    display: flex;
    justify-content: center; 
    margin-top: -20px;
}
#logo img{
    width: 190px;
}

/* navbarr */
nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
    background-color: antiquewhite;
}
nav a{
    color: #000000;
    text-decoration: none;
   
}

/* Slider */
#carouselExample{
    margin-top: 20px;
}
#carouselExample .carousel-control-prev-icon{
    background-color: #000000;
    margin-left: -100px;
}
#carouselExample .carousel-control-next-icon{
    background-color: #000000;
    margin-right: -100px;
}
#first{
    margin-left: 20px;
    margin-top: 20px;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Books */
.card {
    display: flex;
}



/* for mobile */
@media (max-width : 420px) {
    body{
        background-color: rgba(255, 244, 244, 0.669);
    }
    #logo{
        display: flex;
        justify-content: center;
        margin-top: -15px;
       
    }
    #logo img{
        width: 110px;
    }
    
    /* Navbar */
    nav{
        display: flex;
        justify-content: space-evenly;
        margin-top: -15px;
        position: sticky;
        top: 0px;
    }
    nav a{
        color: #000000;
        text-decoration: none;
        font-size: small;
    }
    
    /* slider */
    h1{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 13px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
   
 /*Books  *//
#card-body{
    display: flex;
    justify-content: center;

}
.card  #card-body img{
width: 380px;
height: 250px;

}
.card h3{
    position: relative;
    top :-100px;
    margin-left: 100px;
    color: aliceblue;
}
.card a{
    position: relative;
    top :-100px;
    margin-left: 200px;  
    color: aliceblue;
}
}