*{
    margin: 0;
    padding: 0;
}
/* for disktop */
body{
    background-color: azure;
}
#logo{
    display: flex;
    justify-content: center; 
    margin-top: -75px;
}
#logo img{
    width: 250px;
}

/* for mobile */
@media (max-width : 420px) {
    body{
        background-color: rgba(255, 244, 244, 0.669);
    }
    #logo{
        display: flex;
        justify-content: center;
        margin-top: 0px;
       
    }
    #logo img{
        width: 50px;
    }
}


